* {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
}
.page{
    min-height: 100vh;

}
.content-area{ 
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: 0.3s;
    float: right;
    background-color: #f0f0f0;
    will-change: width;
    &.no-sidebar{
        width: 100%;
    }
}