- var pageTitle= 'Home';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        script(src="all.js")
        include pug/layout/style
    body
        .page.home-page
         include pug/layout/sidebar
         .content-area 
            include pug/layout/header
            .content

include pug/layout/scripts